html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 40px;
    padding-top: 50px;
    background: #f5f5f5;
}

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-header {
    background-color: #f8f9fa;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
}

.card-body {
    padding: 30px;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 10px;
}

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.product-img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.product-title {
    font-size: 1.8rem;
}

.product-price {
    font-size: 1.6rem;
}

.product-description {
    font-size: 1.2rem;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 25px;
}

.btn-lg {
    padding: 12px 24px;
    font-size: 16px;
}

.btn-secondary {
    background-color: #6c757d;
    border: none;
    color: white;
}

/* Responsive adjustments for small screens */
@media (max-width: 768px) {
    .list-group-item {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

        .list-group-item p {
            margin-bottom: 5px;
            font-size: 0.9rem;
        }

    .btn-group .btn {
        padding: 5px 10px; /* Giảm padding của nút */
        font-size: 0.8rem; /* Giảm kích thước font */
        border-radius: 12px; /* Giảm bán kính bo tròn của nút */
    }

    .btn-group {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .form-control {
        width: 100%;
        max-width: 100%;
        padding: 4px; /* Giảm padding của input */
        font-size: 0.9rem; /* Giảm kích thước font của input */
    }

    .text-right {
        text-align: left !important;
    }

    .col-md-4, .col-md-8 {
        width: 100%;
    }

        .col-md-8 h3 {
            font-size: 1.2rem;
        }

    .btn-success {
        font-size: 1rem;
        padding: 10px 20px;
        border-radius: 25px;
    }
}
